@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0813;
    color: #ffffff;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
}

#full-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: translateX(49px);
    margin-bottom: -30px;
    animation: FadeIn ease-in-out 0.5s backwards;
}

#text {
    color: #ffffff;
    font-size: 90px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#x {
    margin-left: -50px;
    scale: 0.75;
    transform: translateY(-15px) translateX(-30px);
}

.logo-text span {
    color: #a855f7;
    text-shadow: 0 0 10px #A855F724;
}

p {
    margin-top: -10px;
    color: #6D6D6D;
    font-size: 22px;
    margin-bottom: 30px;
    animation: FadeIn ease-in-out 0.5s backwards;
    animation-delay: 0.2s;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    animation: FadeIn ease-in-out 0.5s backwards;
    animation-delay: 0.4s;
}

#form input {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    width: 240px;
    height: 40px;
    text-align: center;
    background: #00000000;
    border: 1px solid #5B2F85;
    border-radius: 20px;
    margin: 4px;
    transition: all 0.4s ease;
}

#submit {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: none;
    color: #8383837D;
    font-size: 22px;
    border-radius: 20px;
    margin-top: 5px;
    border: 1px solid #FFFFFF24;
}

#submit:hover {
    background: #a050eb;
    background: linear-gradient(180deg,
        rgba(160, 80, 235, 1) 0%,
        rgba(134, 38, 224, 1) 100%);
    color: #ffffff;
    width: 240px;
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

#submit:active {
    scale: 0.9;
}

.continue-btn:active {
    transform: scale(0.97);
}

.hide-element {
    overflow: hidden;
    scale: 0.8;
    opacity: 0;
    height: 0;
    width: 0;
    transform: translateY(-20px);
}

#password, #submit {
    transition: scale 0.5s ease, opacity 0.5s ease, height 0.5s ease, width 0.5s ease, transform 0.5s ease;
}

@keyframes FadeIn {
    from {
        scale: 0.8;
        opacity: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.error {
    color: #FF0000;
    background: transparent;
    font-size: 18px;
    border: 2px solid #FF0000;
    border-radius: 50px;
    width: 350px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
}