@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0813;
    color: #ffffff;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: none;
    border-right: 2px solid #a855f7;
    width: 80px;
    height: 100vh;
    opacity: 0.6;
    transition: all 0.2s ease;
}

.panel:hover {
    opacity: 1;
    box-shadow: 0 0 20px #A855F77A;
}

#block-icon {
    width: 80px;
    height: 80px;
    transition: all ease-out 0.2s;
}

#block-icon:hover {

}

#logout {
    width: 60px;
    height: 60px;
    transition: all ease-out 0.2s;
    margin-bottom: 10px;
    border: 3px solid transparent;
    border-radius: 50%;
}

#logout:hover {
    transform: rotate(270deg);
    border-radius: 50%;
    border: 3px solid white;
}