@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0813;
    color: #ffffff;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: none;
    border-right: 2px solid #a855f7;
    width: 80px;
    height: 100vh;
}

#block-icon {
    width: 80px;
    height: 80px;
    transition: all ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#block-upgrade {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
}

#block-upgrade img {
    width: 80px;
    height: 80px;
    transform: translateY(-2px);
    transition: all ease 0.2s;
}

#block-plus {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
}

#block-plus img {
    width: 55px;
    height: 55px;
    transform: translateY(-1px);
    transition: all ease 0.2s;
}

#block-battery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    transition: all ease 0.2s;
}

#block-battery img {
    width: 70px;
    height: 70px;
}

#logout {
    width: 55px;
    height: 55px;
    transition: all ease-out 0.2s;
    border: 3px solid transparent;
    border-radius: 50%;
    margin-bottom: 10px;
}

#logout:hover {
    transform: rotate(270deg);
    border-radius: 50%;
    border: 3px solid white;
}

a:not(.do-not-animate):hover  {
    border-left: 4px solid #a855f7;
}