@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0813;
    color: #ffffff;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: none;
    border-right: 2px solid #a855f7;
    width: 80px;
    height: 100vh;
    animation: FadeInPanel 1s ease-in-out backwards;
}

.panel:hover {
    box-shadow: 0 0 20px #A855F73D;
}

#block-icon {
    width: 80px;
    height: 80px;
    transition: all ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#block-upgrade {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
}

#block-upgrade img {
    width: 80px;
    height: 80px;
    transform: translateY(-2px);
    transition: all ease 0.2s;
}

#block-plus {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
}

#block-plus img {
    width: 55px;
    height: 55px;
    transform: translateY(-1px);
    transition: all ease 0.2s;
}

#block-battery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    transition: all ease 0.2s;
}

#block-battery img {
    width: 70px;
    height: 70px;
}

#logout {
    width: 55px;
    height: 55px;
    transition: all ease-out 0.2s;
    border: 3px solid transparent;
    border-radius: 50%;
    margin-bottom: 10px;
}

#logout:hover {
    transform: rotate(270deg);
    border-radius: 50%;
    border: 3px solid white;
}

a:not(.do-not-animate):hover  {
    border-left: 4px solid #a855f7;
}

#block-balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: auto;
    height: 66px;
    gap: 20px;
    border-top: 3px solid #a855f7;
    border-left: 3px solid #a855f7;
    border-bottom: 3px solid #a855f7;
    border-bottom-left-radius: 33px;
    border-top-left-radius: 33px;
    margin-top: 15px;
    padding-left: 15px;
    animation: FadeInBalance 1s ease-in-out backwards   ;
}

#username-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 14px;
    height: 46px;
    background: #a050eb;
    background: linear-gradient(180deg, rgba(160, 80, 235, 1) 0%, rgba(134, 38, 224, 1) 100%);
    border: 2px solid #a855f7;
    border-radius: 23px;
    transform: translateX(-7px);
}

#username {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-block {
    transform: translateX(-16px) translateY(-1px);
}

#info-block span {
    font-size: 20px;
    transform: translateY(-1px);
}

#info-block img {
    width: 20px;
    height: 20px;
    background: #a050eb;
    background: linear-gradient(180deg, rgba(160, 80, 235, 1) 0%, rgba(134, 38, 224, 1) 100%);
    border: 2px solid #a855f7;
    border-radius: 18px;
    transform: translateY(3px);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-body {
    flex: 1;
    overflow-y: auto;
}

@keyframes FadeInBalance {
    from {
        transform: translateX(260px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes FadeInPanel {
    from {
        transform: translateX(-90px);
    }
    to {
        transform: translateX(0);
    }
}