@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b0813;
    color: #ffffff;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 84px;
}

.logo-text {
    color: #ffffff;
    font-size: 90px;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 14px;
    text-shadow: 0 0 21px #FFFFFF40;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo-text span {
    color: #a855f7;
    text-shadow: 0 0 21px #A855F75E;
}

p {
    color: #6D6D6D;
    font-size: 22px;
    margin-bottom: 30px;
}

.logo-icon {
    height: 180px;
    margin: -35px;
    transform: translateY(-14px);

}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}