{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}?v=3">
    <title>DropX-Registration</title>
</head>
<body>
    <div id="full-icon">
        <h1 id="text">Drop</h1>
        <img id="x" src="{% static 'icons/logo.svg' %}" alt="X">
    </div>
    <p>Чай, печенье, сладкий Twix — всё, что есть, неси в DropX!</p>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" id="form">
        {% csrf_token %}
        <input type="text" id="nickname" name="nickname" placeholder="Введите имя" aria-label="Nickname">
        <input type="password" id="password" class="hide-element" name="password" placeholder="Введите пароль" aria-label="Password">
        <button type="submit" id="submit" class="hide-element" aria-label="Continue">
            <span>Продолжить</span>
        </button>
    </form>

    <script src="{% static 'js/index.js' %}?=v1"></script>
</body>
</html>