{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>DropX-Registration</title>
</head>
<body>
    <div class="icon">
        <h1 class="logo-text">Drop</h1>
        <img src="{% static 'icons/logo.svg' %}" alt="X" class="logo-icon">
    </div>
    <p>Чай, печенье, сладкий Twix — всё, что есть, неси в DropX!</p>

    <form method="POST" class="auth-container">
        {% csrf_token %}

        {% if error %}
            <p style="color: #ff5c5c; font-size: 16px; margin-bottom: 8px; text-align: center;">
            {{ error }}
            </p>
        {% endif %}

        <input type="text" id="nick" name="nickname" class="custom-input" placeholder="Введите имя" aria-label="Nickname" required>
        <input type="password" id="pass" name="password" class="custom-input pass-hidden" placeholder="Введите пароль" aria-label="Password" required>
        <button type="submit" id="submit" class="continue-btn pass-hidden" aria-label="Continue">
            <span>Продолжить</span>
        </button>
    </form>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>